$mt=5em
$mb=3em

.container
    z-index: 0
    position: relative
    height: 100vh
    overflow: auto
    padding: $mt 0 $mb 0
    display: flex

    &>*
        color: white
        max-width: 40em
        margin: 0 auto
        padding: 1em 1.5em
        width: 100%
        height: max-content
        background: hsla(0, 0%, 0%, 0.75)
        background: linear-gradient(90deg, #0000 0%, #000d 1em, #000d calc(100% - 1em), #0000 100%)

        &.color
            // background: hsl(202, 68%, 25%)
            background: hsl(319, 77%, 36%)

        &.center
            margin auto
            padding-bottom: $mt - $mb
            
            
        